body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.another-section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width p {
    width: 60%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.another {
    width: 50%;
    margin-left: 5%;
    margin-right: 50px;
}

#second-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.orange {
    color: orange;
}

.experince {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

#tomato {
    border-left: 7px solid tomato;

}

#blue {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
    color: gray;
}